---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getImage } from "astro:assets";
import Aurora from "../assets/aurora.png";
import Review from "../components/Review.astro";

const aurora = await getImage({ src: Aurora });
---

<BaseLayout title="Home">
  <section class="w-screen grid md:grid-cols-2 p-8 pt-0 md:pt-8 pb-16">
    <div
      class="flex hero bg-no-repeat bg-bottom bg-cover text-white md:h-[30vw] p-8 md:p-0"
      style={`background-image: url(${aurora.src});`}
    >
      <div class="my-auto md:ml-8 select-none">
        <h1 class="text-6xl font-bold text-balance">
          24th Arctic Orthopedic Summit
        </h1>
        <h3 class="flex gap-3 items-center text-2xl mt-2">
          <i class="fa-solid fa-location-dot"></i><span
            >Levi, Finland. 16. - 21.3.2025</span
          >
        </h3>
      </div>
    </div>
    <div class="md:mx-16 md:my-auto mt-16">
      <p>
        The <a
          class="text-sky-400 underline"
          href="https://www.soy.fi/koulutus/"
          target="_blank">Finnish Orthopedic Association</a
        > invites you to the 24th Arctic Orthopedic Summit, a biannual event dedicated
        to advancing orthopedic knowledge and practice. Held in Finnish Lapland,
        the summit gathers experts, researchers, and practitioners worldwide to share
        insights, innovations, and experiences in orthopedics.
      </p>
      <button class="mt-4">
        <a href="/registration">Register</a>
      </button>
    </div>
  </section>
  <section
    class="lg:grid flex flex-col lg:grid-cols-3 gap-6 my-8 max-w-3xl mx-auto"
  >
    <Review author="Neville Brem" body="Very cool" />
    <Review
      author="John Smith"
      body="Stunning event, learned many cool things!"
    />
    <Review author="Eljas" body="Great event, looking forward to next year!" />
  </section>
  <section class="grid xl:grid-cols-2 my-16">
    <h1 class="text-3xl m-auto">History</h1>
    <p class="m-auto p-6">
      The Arctic Orthopedic Summit offers a top-tier scientific program with
      keynote lectures, workshops, and panel discussions on orthopedic surgery,
      trauma care, and sports medicine. Participants can engage with global
      experts and gain practical skills. Beyond the sessions, attendees can
      enjoy Arctic Circle activities like skiing, husky sledding, Northern
      Lights viewing, and traditional Finnish saunas. The event culminates with
      a casual Gala Dinner on March 19, 2024, at a secret location. Now in its
      24th edition, the summit combines professional growth with cultural
      experiences in Lapland for an unforgettable event.
    </p>
  </section>
  <section class="text-center my-16">
    <i class="fa-solid fa-quote-left text-4xl text-gray-500"></i>
    <p class="text-2xl max-w-lg mx-auto text-balance">
      Welcome to the AOS Congress in Levi. An unforgettable opportunity to learn
      new things and experience the magic of Lapland
    </p>
    <p>- by a meaningful person</p>
  </section>
</BaseLayout>
