---
import BaseLayout from "../layouts/BaseLayout.astro";
import GridItem from "../components/GridItem.astro";
---

<BaseLayout title='Home'>
  <section class='w-screen grid md:grid-cols-2 p-8 pt-0 md:pt-8 pb-16'>
    <div class='flex hero text-white md:h-[30vw] p-8 md:p-0'>
      <div class='my-auto md:ml-8 select-none'>
        <h1 class='text-8xl font-bold'>SOY XXVI</h1>
        <h3 class='flex gap-3 items-center text-2xl mt-2'>
          <i class='fa-solid fa-location-dot'></i><span>Levi, Lapland</span>
        </h3>
      </div>
    </div>
    <div class='md:mx-16 md:my-auto mt-16'>
      <h1 class='text-4xl mb-8'>Lapland Course</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam expedita
        amet, excepturi soluta quidem temporibus? Hic explicabo sunt voluptates.
        Officiis!
      </p>
      <button class='mt-4'>
        <a href='/registration'>Register</a>
      </button>
    </div>
  </section>
  <section class='mx-24 lg:grid flex flex-col lg:grid-cols-3 gap-6'>
    <GridItem
      icon='fa-solid fa-brain'
      title='be smart'
      body='we are here to make you smart'
    />
    <GridItem
      icon='fa-solid fa-house'
      title='comfy'
      body='comfortable accomodation'
    />
    <GridItem
      icon='fa-solid fa-cross'
      title='future-proof'
      body='lorem ipsum'
    />
  </section>
  <section class='grid xl:grid-cols-2 my-16'>
    <h1 class='text-3xl m-auto'>History</h1>
    <p class='m-auto p-6 prose'>
      The active course activities of the Finnish Orthopedic Society began in
      1970, when the first two-day SOY continuing education event was organized
      on the initiative of the association's board, the topic of which was
      lumbar pain conditions. The event was held at Helsinki's Swedish School of
      Economics. This course and the association's subsequent continuing and
      continuing education activities have since proven to be a pioneer in the
      course activities of Finnish specialist medical associations.
      <br />
      In 1972, the association elected the first course committee, which included
      Antti Alho, Sam Lindholm and Olai Snellman. The goal was to create a new, longer
      course type based on the examples of Swiss AO courses and similar courses in
      Sweden. In order to develop the Finnish course, Antti Alho, Vesa Hamunen and
      Olai Snellman visited the Vidareutbildningskurs för blivande chirurger courses
      held in Östersund and Åre, Sweden, in the spring of 1973.
      <br />
      The first modern week-long SOY continuing and continuing education course was
      held in Rovaniemi.
    </p>
  </section>
  <section class='text-center my-16'>
    <i class='fa-solid fa-quote-left text-4xl text-gray-500'></i>
    <p class='text-2xl'>Eat your veggies</p>
    <p>- my mom</p>
  </section>
</BaseLayout>

<style>
  .hero {
    background-image: url("../assets/hero-bg.jpg");
    background-size: cover;
    background-position: center;
  }
</style>
