---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title='Registration'>
  <main class='mx-8 md:mx-16 mb-8'>
    <h1 class='text-3xl mb-4'>Registration</h1>

    <p class='prose mb-8'>
      The XXVI Lapland Course will be held at ... in Levi on the ... <br />
      You can book accomodation on the official <a href='/venue'
        >Levi website or Booking.com.</a
      ><br />
    </p>
    <h1 class='text-3xl mb-4'>Contact</h1>
    Email: me@example.com
  </main>
</BaseLayout>
