---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Registration">
  <main class="mx-8 md:mx-16 mb-8 prose">
    <h1 class="text-3xl mb-4">Registration</h1>

    Early registration before 1.12.2024 will bring a significant discount on the
    registration fee. <br />

    <h2>Prices:</h2>
    <ul>
      <li>Early registration: XXX€</li>
      <li>Normal price: XXX€</li>
      <li>Specialists XXX€</li>
    </ul>
    <h2>Contact:</h2>
    <p>
      If you have any questions about the congress or registration, please
      contact: us via email: <a href="mailto:AOS2025@SOY.FI">AOS2025@SOY.FI</a>
    </p>
  </main>
</BaseLayout>
