---
import BaseLayout from "../layouts/BaseLayout.astro";
import conference1 from "../assets/conference-1.jpg";
import conference2 from "../assets/conference-2.jpg";
import { Image } from "astro:assets";
import Review from "../components/Review.astro";
---

<BaseLayout title='Registration'>
  <main class='mx-8 md:mx-16 mb-8'>
    <div class='grid xl:grid-cols-2 gap-16'>
      <div>
        <h1 class='text-3xl'>Reviews</h1>
        <div class='flex-col flex gap-8 justify-evenly h-full p-4'>
          <Review author='Neville Brem' body='Very cool' />
          <Review
            author='John Smith'
            body='Stunning event, learned many cool things!'
          />
          <Review
            author='Eljas'
            body='Great event, looking forward to next year!'
          />
        </div>
      </div>
      <Image class='m-auto' width={640} src={conference1} alt='stock image 1' />
      <div>
        <h1 class='text-3xl mb-4'>Memories</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
          officiis tempora corrupti a natus ea eos amet ipsum. Reiciendis
          excepturi iusto vel accusamus exercitationem aperiam placeat ab,
          tempore mollitia nemo omnis illo eius dolorem! Doloremque aperiam
          facere ea corrupti tenetur ratione, dolor praesentium quia neque,
          debitis voluptates iusto, numquam reiciendis? Dolore saepe cumque quia
          incidunt ipsum, itaque, tempora facilis dolor mollitia temporibus
          inventore? Rem, consectetur neque fugiat magni at numquam animi nam
          tempore dolor quos nihil tenetur nisi, esse ipsum eveniet blanditiis.
          Cupiditate animi optio natus ipsam tempora perferendis illo excepturi
          nobis incidunt accusantium dolores maxime sunt, aperiam saepe minus.
        </p>
      </div>
      <Image class='m-auto' width={640} src={conference2} alt='stock image 2' />
    </div>
  </main>
</BaseLayout>
