---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Scientific Program">
  <main class="mx-8 md:mx-16 mb-8">
    <h1 class="text-3xl mb-8">Scientific Program</h1>
    <p class="text-red-500">to be done!</p>
    <button>Download PDF</button>
  </main>
</BaseLayout>
