<footer
  class='w-[50%] flex justify-between mx-auto font-[sofia-pro] border-t pt-4'
>
  <p>© Suomen Ortopediyhdistys ry</p>
  <a href='https://www.facebook.com/groups/439964029431981'>Facebook</a>
</footer>
