<nav
  class='py-8 md:flex w-[50vw] h-[10dvh] items-center justify-center mx-auto gap-16 hidden'
>
  <a href='/' class='text-3xl'><i class='fa-regular fa-file-image'></i></a>
  <div class='flex gap-4 font-black font-[sofia-pro]'>
    <a
      href='/scientific-program'
      class='px-4 hover:text-sky-500 duration-200 ease-in-out'
      >Scientific Program</a
    >
    <a
      href='/registration'
      class='px-4 hover:text-sky-500 duration-200 ease-in-out'>Registration</a
    >
    <a href='/travel' class='px-4 hover:text-sky-500 duration-200 ease-in-out'
      >Venue/Travel</a
    >
  </div>
</nav>
