---
import logo from "../assets/logo.jpeg";
---

<nav
  class='py-8 md:flex w-[50vw] h-[10dvh] items-center justify-center mx-auto gap-16 hidden'
>
  <a href='/' class='text-3xl'><img src={logo.src} class='h-[8dvh]' /></a>
  <div class='flex gap-4 font-black font-[sofia-pro] uppercase'>
    <a
      href='/scientific-program'
      class='px-4 hover:text-sky-500 duration-200 ease-in-out'>OHJELMA</a
    >
    <a
      href='/registration'
      class='px-4 hover:text-sky-500 duration-200 ease-in-out'
      >Ilmoittautuminen</a
    >
    <a href='/travel' class='px-4 hover:text-sky-500 duration-200 ease-in-out'
      >MAJOITUS</a
    >
  </div>
</nav>
