---
interface Props {
  author: string;
  body: string;
}

const { author, body } = Astro.props;
---

<div class='flex items-center gap-6'>
  <i class='fa-solid fa-user text-2xl text-sky-300'></i>
  <div>
    <p class='text-xl'>"{body}"</p>
    <p class='mt-2 text-gray-500'>- {author}</p>
  </div>
</div>
